// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #007bff;
$indigo: #4b0082;
$purple: #800080;
$pink: #f66d9b;
$red: #dc3545;
$orange: #ffc107    ;
$yellow: #ffed4a;
$green: #28a745;
$teal: #4dc0b5;
$cyan: #17a2b8;
$background_color: #E0FFFF;
